node_modules/
dist/
.DS_Store
*.local

# Strapi
apps/cms/.tmp/
apps/cms/.cache/
apps/cms/.strapi/
apps/cms/build/
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep
apps/cms/types/generated/
.env
